#black{
    color: black;
}
#font{
    font-size: xx-large;
    color: azure;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#newco{
    background-color: rgb(96, 100, 135);
   
}
#indigo{
    background-color: #111827;
}
#vardan{
    font-family:Verdana, Geneva, Tahoma, sans-serif
}